<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RoomsController</servlet-name>
  	<display-name>RoomsController</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.RoomsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<display-name>UserRegistration</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.UserRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserViewProfile</servlet-name>
  	<display-name>UserViewProfile</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.UserViewProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<display-name>UserLogout</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.UserLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutSession</servlet-name>
  	<display-name>LogoutSession</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.LogoutSession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllUsers</servlet-name>
  	<display-name>GetAllUsers</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.GetAllUsers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Booking</servlet-name>
  	<display-name>Booking</display-name>
  	<description></description>
  	<servlet-class>com.revature.hotel_reservation.controller.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RoomsController</servlet-name>
  	<url-pattern>/RoomsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserViewProfile</servlet-name>
  	<url-pattern>/UserViewProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutSession</servlet-name>
  	<url-pattern>/LogoutSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllUsers</servlet-name>
  	<url-pattern>/GetAllUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Booking</servlet-name>
  	<url-pattern>/Booking</url-pattern>
  </servlet-mapping>
</web-app>
